body {
    background-image:url("background.jpg")
}
.heading {
    font-family: monospace;
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.btn1 {
    font-weight: bolder !important;
    font-size: 20px;
}
canvas {
    border: dotted black 5px;
    animation-name: mustache;
    animation-duration:4s;
    animation-iteration-count: infinite;
}